.plan-button{
    padding-top: 80px;
    text-align:center;

}
button{
    width: 130px;
    height: 43px;
    font-size: 18px;
    font-weight: 400;
    border: none;
    border-radius: 8px;
    background-image: linear-gradient(rgba(193, 87, 171, 1),rgba(251, 133, 161, 1));
}

