.desktop{
    background-color: #09002B;
   .desktop-content{
       padding: 120px 120px;
       position: relative;
       .desktop-info{
           color: #ffffff;
           position: absolute;
           top: 260px;
       }
   }
}