.gust{
    background-color: #11024B;
}
.gust-content{
    padding-top: 200px;
    padding-bottom: 200px;
    color: #ffffff;
    h1{
        font-size: 48px;
        font-weight: bold;
        line-height: 45px;
    }
    h3{
        font-size: 16px;
        font-weight: 200;
        padding-top: 5px;
        padding-bottom: 19px;
    }
}