.logo-cloud{
    background-color: white;
    &-wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo-item{
            img{
                width: 100%;
                height: auto;
            }
        }
    }
}